@model EventsCalendar.Web.Areas.Admin.Models.Calendar.IndexModel
@{
    ViewBag.Title = "Test";
}

<h2>Calendar</h2>
@if (!Model.TokenPresent)
{
    <h3><em>No Google API token present!</em></h3>
    <em>Without a token, the bot will not be able to update the calendar</em>
    using (Html.BeginForm("Authorize", "Calendar", FormMethod.Post)){<button type="submit">Request authorization token</button>}
}
@if (Model.TokenInvalid)
{
    <h3><em>The current token is invalid</em></h3>
    <em>Seems like the currently stored token has expired, or was revoked</em>
    using (Html.BeginForm("Authorize", "Calendar", FormMethod.Post)){<button type="submit">Request authorization token</button>}
}
@if (Model.Calendars != null && Model.Calendars.Items != null)
{
    <p>The linked Google account has the following calendars:</p>
    <ul>
        @foreach(var cal in Model.Calendars.Items)
        {
            <li>@cal.Id: @cal.Description</li>
        }
    </ul>
}